@charset "UTF-8";

:root{
    --cor01: #49a09d;
    --cor02: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 

body, html {
    background-color: var(--cor02);
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;   
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width 0.7s, height 0.7s;  /*transissão na mudança*/
    transition-timing-function: ease;  /*para ser uma transissão mais suavisada*/
}

/*  overflow: hidden; ///  serve para esconder qualquer conteúdo que ultrapasse as bordas de um elemento. Ou seja, se algo for maior do que o espaço disponível, essa parte extra não aparecerá. É útil para manter o layout organizado.*/

section#login > div#imagem {
    display: block;
    background-color: var(--cor02) ;
    background-image: url(../imagens/pexels-markusspiske-1089438.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p {
    font-size: 0.8em;
}

.campo {
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label > span {
    color: white;
    
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input:focus-within {  /* o campo que cliclou fica branco, já que está focado*/
    background-color: white;
}

div.campo > input {
    background-color: #49a09d;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    
    margin-left: 44px;
    border: 2px solid #5f2c82;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-42px);
}


form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


form > input[type=submit]:hover{
    background-color: #214342;
}

form > a.botao {
    display: block;
    color: #49a09d;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #214342;
}

form > a.botao:hover {
    background-color: #49a09d;
    color: white;
}

form > a.botao > i {
    font-size: 0.8em;
}

